body, html {
  overflow-x: hidden
}
body {
  position: relative;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 180%;
  color: #303030
}
p {
  margin-bottom: 28px
}
p:last-child {
  margin-bottom: 0
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.btn, a, button, input[type=submit] {
  -webkit-transition: background ease-out .2s, color ease-out .2s, opacity ease-out .2s;
  -o-transition: background ease-out .2s, color ease-out .2s, opacity ease-out .2s;
  transition: background ease-out .2s, color ease-out .2s, opacity ease-out .2s
}
img, svg {
  display: inline-block;
  max-width: 100%
}

.navbar {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  z-index: 9;
  padding: 20px 0;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .02);
  box-shadow: 0 10px 40px rgba(0, 0, 0, .02)
}
.navbar .row {
  width: calc(100% + 30px)
}
.navbar .col {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.navbar .d-flex>.contact-item {
  white-space: nowrap
}
.navbar .btn {
  color: #fff
}
.nav-item {
  margin-left: 60px;
  position: relative
}
.nav-item.active .nav-link {
  text-decoration: underline;
  pointer-events: none
}
.nav-link {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px;
  line-height: 24px;
  color: #303030
}
.nav-link:hover {
  color: #303030;
  text-decoration: underline
}
.navbar-brand {
  padding: 0;
  margin: 0
}
.navbar-toggler {
  position: absolute;
  top: 0;
  right: 15px;
  border: 2px solid #303030;
  border-radius: 5px;
  padding: 8px 10px 12px;
  margin: 0;
  z-index: 2;
  border-radius: 2px
}
a.navbar-brand__logo img{
  width: 180px;
}
.contact-item {
  margin-left: 80px
}
.contact-item a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #303030
}
.contact-item img {
  margin-right: 3px
}
.strong {
  font-size: 30px;
  line-height: 45px
}
.color {
  color: #ed3232
}
a.color {
  color: #ed3232
}
a.color:hover {
  color: #cd1212;
  text-decoration: none
}
h1 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 90px;
  margin-bottom: 0;
  color: #303030
}
h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 67px;
  color: #303030;
  margin-bottom: 40px
}
h3.sm {
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  color: #303030;
  margin-bottom: 26px
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #303030;
  margin-bottom: 6px
}
.btn {
  border: 0;
  background: #ed3232;
  border-radius: 2px;
  padding: 17px 37px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff
}
.btn:active, .btn:focus, .btn:hover {
  background: #cd1212;
  color: #fff
}
.head {
  padding-top: 130px
}
section {
  margin: 90px 0
}
#home {
  background: #f9f9f9;
  position: relative;
  padding: 150px 0 150px;
  margin: 0;
  min-height: 720px;
  height: 100vh
}
#home h1 {
  color: #303030
}
.track-form {
  margin-top: 42px
}
.track-form .form-group {
  position: relative;
  max-width: 520px
}
.track-form input.form-control {
  width: 100%;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 20px 144px 20px 34px;
  height: auto;
  font-size: 16px;
  line-height: 24px;
  color: #303030
}
.track-form input::-webkit-input-placeholder {
  color: #303030;
  opacity: .5
}
.track-form input:-ms-input-placeholder {
  color: #303030;
  opacity: .5
}
.track-form input::-ms-input-placeholder {
  color: #303030;
  opacity: .5
}
.track-form input::placeholder {
  color: #303030;
  opacity: .5
}
.track-form button.btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 5px 5px 0;
  height: 65px
}
.form-control:active, .form-control:focus {
  border-color: #ededed !important;
  -webkit-box-shadow: 0 0 0 .2rem rgba(237, 50, 50, .25) !important;
  box-shadow: 0 0 0 .2rem rgba(237, 50, 50, .25) !important;
  box-shadow: 0 0 0 .2rem rgba(237, 50, 50, .25) !important
}
.form-group.error {
  position: relative
}
.form-group.error .form-control {
  border-color: #ed3232 !important
}
.form-group.error::after {
  display: block;
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 130px;
  background-image: url(../img/error.svg);
  background-repeat: no-repeat
}
.form-group.okay .form-control:first-child {
  border-color: #73af00 !important
}
.form-group.okay::after {
  display: block;
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  top: 27px;
  right: 27px;
  background-image: url(../img/okay.svg);
  background-repeat: no-repeat
}
.white-bg {
  background: #fff;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .05);
  box-shadow: 0 10px 40px rgba(0, 0, 0, .05);
  border-radius: 5px;
  height: 100%
}
.white-bg img {
  margin-bottom: 20px
}
.white-bg p {
  color: grey
}
.white-bg ul {
  list-style: none
}
.white-bg li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 38px;
  font-size: 16px;
  line-height: 24px
}
.white-bg li::before {
  display: inline-block;
  content: '';
  width: 22px;
  height: 22px;
  background: url(../img/check.svg);
  position: absolute;
  top: 0;
  left: 0
}
.white-bg .bg-head {
  background: #f7f7f7;
  padding: 16px 16px 14px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #646d75;
  position: relative
}
.white-bg .bg-head b {
  color: #303030
}
.white-bg .bg-head::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f6f6f6;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute
}
.color-bg {
  background: #ed3232;
  padding: 74px 74px 90px
}
.color-bg h3 {
  color: #fff;
  margin-bottom: 0
}
#join-us .color-bg {
  border-radius: 10px;
  background-image: url(../img/join-us-pattern.svg);
  background-repeat: no-repeat;
  background-position: center
}
.p-big {
  padding: 62px 80px
}
.p-mid {
  padding: 48px
}
.p-sm {
  padding: 29px 50px 51px
}
.p-absolute {
  position: absolute
}
.m-r {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.b-r {
  right: 20px;
  bottom: 0
}
#email-invalid{
  padding-top: 4px;
  display: block;
  font-size: 13px;
}
.hidden-last-input #track-invalid{
    display: block;
}
#track-invalid{
    font-size: 13px;
}
#contact #email-invalid {
    padding-top: 0px;
    margin-top: -16px;
    margin-bottom: -16px;
}
#cancellation #email-invalid{
    color: rgb(255, 255, 255) !important;
    margin-bottom: 20px;
    margin-top: -20px;
}
.fw-600 {
  font-weight: 600 !important
}
.steps-container {
  margin-top: 30px
}
.d-flex.text-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.d-flex.text-center img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.step-item {
  text-align: center;
  position: relative
}
.step-item .number {
  margin: 10px 0 30px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ed3232;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}
.step-item .number::before {
  display: block;
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #ed3232;
  opacity: .2;
  top: -10px;
  left: -10px;
  position: absolute;
  z-index: -1
}
.step-item::after {
  display: block;
  content: '';
  width: calc(100% - 120px);
  height: 0;
  border-top: 1px dashed #ed3232;
  position: absolute;
  left: calc(50% + 60px);
  top: 30px
}
.step-item:last-child::after {
  display: none
}
.pattern-left {
  background: url(../img/pattern.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left
}
#contact .white-bg, #faq .white-bg {
  height: auto
}
#contact .white-bg h4, #faq .white-bg h4 {
  margin-bottom: 20px
}
#contact .white-bg p, #faq .white-bg p {
  color: #303030;
  opacity: 1;
  margin-bottom: 24px
}
#contact .white-bg p:last-child, #faq .white-bg p:last-child {
  margin-bottom: 0
}
#contact .white-bg {
  height: 100%
}
#contact .form-control {
  border: 1px solid #ededed;
  border-radius: 2px;
  color: #303030;
  padding: 14px 20px 12px;
  height: auto
}
#contact .form-control::-webkit-input-placeholder {
  color: #303030;
  opacity: .5
}
#contact .form-control:-ms-input-placeholder {
  color: #303030;
  opacity: .5
}
#contact .form-control::-ms-input-placeholder {
  color: #303030;
  opacity: .5
}
#contact .form-control::placeholder {
  color: #303030;
  opacity: .5
}
#contact input[type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none
}
#contact input[type=checkbox]+label {
  color: rgba(50, 50, 50, .5);
  padding-left: 40px;
  position: relative
}
#contact input[type=checkbox]+label::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid rgba(100, 109, 117, .1);
  position: absolute;
  top: 0;
  left: 0
}
#contact input[type=checkbox]:checked+label::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/checkox-checked.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0
}
#contact .btn {
  min-width: 200px
}
#cancellation {
  padding-top: 65px
}
#cancellation .color-bg {
  border-radius: 10px
}
#cancellation h4, #cancellation p {
  color: #fff
}
.simple-list {
  list-style: none
}
.simple-list li {
  padding-left: 20px;
  font-size: 16px;
  line-height: 160%;
  color: #303030;
  margin-bottom: 26px;
  position: relative
}
.simple-list li::before {
  display: block;
  content: '';
  background: #de3232;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  top: 9px;
  left: 0
}
footer {
  background: #303030;
  padding: 50px 0
}
footer a {
  font-size: 14px;
  line-height: 21px;
  color: #fff
}
footer a:hover {
  color: #fff;
  text-decoration: underline
}
footer h4 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px
}
.dropdown {
  max-width: 244px;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
  line-height: 45px;
  padding: 0 49px 0 20px
}
.dropdown:hover {
  text-decoration: none
}
.dropdown-collapse {
  max-width: 244px;
  border: 1px solid #fff;
  border-top: 0;
  border-bottom: 0
}
.dropdown-collapse a {
  display: block;
  width: 100%;
  line-height: 45px;
  padding: 0 49px 0 20px;
  border-bottom: 1px solid #fff
}
.dropdown-collapse a:hover {
  background: #404040;
  text-decoration: none
}
.dropdown::after {
  display: block;
  content: '';
  background-image: url(../img/drop.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 9px;
  height: 5px;
  pointer-events: none
}
.modal-backdrop.show {
  opacity: .85
}
.modal-dialog {
  max-width: 780px;
  margin: auto
}
.modal-dialog p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 14px;
  transition: all 1s ease;
  opacity: 1;
}
.modal-dialog p.p-hidden{
  opacity:0;
  line-height:0;  
}
.modal-dialog small {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
  opacity: .5
}
#login, #order {
  padding-top: 65px
}
#login h1, #order h1 {
  margin-bottom: 26px
}
#login span, #order span {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #303030;
  position: relative;
  top: 2px
}
#login .form-group, #order .form-group {
  position: relative
}
#login .form-control, #order .form-control {
  border: 1px solid #ededed;
  border-radius: 2px;
  color: #303030;
  padding: 12px 20px;
  height: auto
}
#login .form-control::-webkit-input-placeholder, #order .form-control::-webkit-input-placeholder {
  color: #646d75
}
#login .form-control:-ms-input-placeholder, #order .form-control:-ms-input-placeholder {
  color: #646d75
}
#login .form-control::-ms-input-placeholder, #order .form-control::-ms-input-placeholder {
  color: #646d75
}
#login .form-control::placeholder, #order .form-control::placeholder {
  color: #646d75
}
#login .d-flex .form-control, #order .d-flex .form-control {
  width: calc(50% - 10px);
}
#login input[type=checkbox], #order input[type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none
}
#login input[type=checkbox]+label, #order input[type=checkbox]+label {
  color: #646d75;
  font-size: 16px;
  line-height: 160%;
  padding-left: 40px;
  position: relative
}
#login input[type=checkbox]+label a, #order input[type=checkbox]+label a {
  text-decoration: underline;
  color: #ed3232
}
#login input[type=checkbox]+label::before, #order input[type=checkbox]+label::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid rgba(100, 109, 117, .1);
  position: absolute;
  top: 0;
  left: 0
}
#login input[type=checkbox]:checked+label::before, #order input[type=checkbox]:checked+label::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/checkox-checked.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0
}
#login .btn, #order .btn {
  min-width: 200px;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%
}
#login ul li, #order ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 29px
}
#login .p-sm p, #order .p-sm p {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #303030
}
#login .p-sm b, #order .p-sm b {
  font-weight: 700
}
#login .btn {
  min-width: 200px;
  border-radius: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  margin-top: 20px;
  margin-bottom: 0
}
#login .white-bg {
  height: auto
}
.loading-animation {
  -webkit-animation: ring 2s linear infinite;
  animation: ring 2s linear infinite
}
@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
#cancellation .form-group {
  position: relative
}
#cancellation .form-control {
  border: 1px solid #fff;
  background: 0 0;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 17px 240px 19px 40px;
  height: auto;
  -webkit-box-shadow: none;
  box-shadow: none
}
#cancellation .form-control:active, #cancellation .form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25)
}
#cancellation .form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: .5
}
#cancellation .form-control:-ms-input-placeholder {
  color: #fff;
  opacity: .5
}
#cancellation .form-control::-ms-input-placeholder {
  color: #fff;
  opacity: .5
}
#cancellation .form-control::placeholder {
  color: #fff;
  opacity: .5
}
#cancellation button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 47px 19px;
  border-radius: 0;
  background: #fff;
  color: #303030;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #fff;
  border-radius: 0 2px 2px 0
}
#cancellation button:hover {
  color: #fff;
  background: 0 0;
  border: 1px solid #fff
}
@media (min-width:1399.98px) {
  .container {
    max-width: 1370px
  }
}
@media (max-width:1199.98px) {
  .navbar .btn {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .navbar .d-flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial
  }
  .navbar .navbar-collapse {
    margin: 0 !important
  }
  .navbar .contact-item {
    position: absolute;
    top: -16px;
    right: 86px
  }
  .nav-item {
    margin: 24px 0
  }
  .nav-item.active ::after {
    bottom: -13px
  }
}
@media (max-width:991.98px) {
  #home {
    padding-top: 180px;
    margin-bottom: 0;
    height: auto
  }
  .home-img {
    margin-top: 40px
  }
  .step-item::after {
    display: none
  }
  .step-item br {
    display: none
  }
  .head {
    padding-top: 80px
  }
}
@media (max-width:767.98px) {
  h1 {
    font-size: 42px;
    line-height: 63px
  }
  .strong {
    font-size: 20px;
    line-height: 30px
  }
  #TrackParcelHomeForm {
    margin-top: 28px
  }
  #TrackParcelHomeForm input.form-control {
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 20px 144px 20px 34px;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
  }
  #TrackParcelHomeForm button.btn {
    padding: 18px 24px;
    max-height: 75px
  }
  #home #CustomerEmail{
      background-image: none !important;
  }
  .form-group.error::after {
    top: 24px;
    right: 100px
  }
  .form-group.okay::after {
    top: 24px;
    right: 24px
  }
  h3 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 28px
  }
  h4 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 4px
  }
  .btn {
    font-size: 18px;
    line-height: 24px
  }
  .head {
    padding-top: 40px
  }
  .p-big {
    padding: 40px 64px
  }
  .p-mid {
    padding: 32px
  }
  .p-sm {
    padding: 24px 24px 32px
  }
  #order .d-flex .form-control {
    width: 100%
  }
  #order .d-flex .form-control:first-child {
    margin-bottom: 20px
  }
  .white-bg .cvv-grid  img {
    margin-bottom: 36px;
}
  #order .d-flex, footer .d-flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important
  }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  footer nav a {
    margin: 10px 0 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
  }
  #cancellation .color-bg {
    padding: 40px
  }
  #cancellation .form-group {
    position: relative
  }
  #cancellation .form-control {
    padding: 14px 30px 16px 30px;
    margin-bottom: 20px
  }
  #cancellation button {
    position: relative;
    top: 0;
    right: 0;
    padding: 18px 40px;
    border-radius: 2px
  }
}
@media (max-width:575.98px) {
  #login, #order {
    padding-top: 20px
  }
  #login h1, #order h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 14px
  }
  .navbar .btn {
    min-width: 100px;
    margin-top: 20px
  }
  .navbar .col {
    margin: 0 15px
  }
  .navbar .contact-item {
    text-align: center;
    position: relative;
    top: 0;
    left: 0
  }
  .p-absolute.m-r {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0
  }
  .btn {
    padding-left: 18px;
    padding-right: 18px
  }
  .p-big {
    padding: 20px 36px
  }
  .p-mid {
    padding: 20px
  }
  .p-sm {
    padding: 24px 16px 32px
  }
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ed3232;
    background-color: #ed3232;
}
.home-customer-cgv{
    margin-top: 8px;
}
.home-dropdown{
    height:auto;
    overflow: visible;
    padding-left: 0;
}
.home-dropdown .dropdown-toggle::after{
     position: absolute;
    top: 10px;  
}
.fade:not(.show) {
    top: -99999px;
}
.cvv-grid{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
#order .cvv-grid  .form-control{
    width:100%;
}
.collapsing>div.nav-item{
    display:none !important;
}
.user-details-block{
    margin-top:0;
}
.user-details-header{
    margin-bottom: 0px;
}
.filter-container .nav-custom a{
    color: #676767;
    padding: 4px 10px;
    cursor:pointer;
}
.filter-container .active.nav-custom  a{
    color: #000;
}

.filter-tabs {
    display: none;
}
.filternav{
    display: flex;
}
#login .text-warning {
    color: #007bff!important;
}
#login .text-warning:hover{
    color: #0056b3!important;
}
@media (max-width: 992px){
    h3 {
        font-size: 24px;
    }
    h1{
        font-size: 26px;
    }
.filter-tabs {
    display: inline-block;
    height: auto;
    overflow: visible;
}
.filternav{
    display:none;
}

}
.form-control{
    border-radius: 0;
}
.form-group.required label.error{
    color: #dc3545!important;
    font-size: 13px;
}
#home .form-group {
    margin-bottom: 8px;
}
#home .last-group #CustomerEmail{
    transition: all 1s ease;
    background-image: none !important;
}
#home .hidden-last-input .last-group #CustomerEmail{
    padding: 0 0 0 30px;
    opacity: 0;
}
#home .last-group #submitBtn{
    transition: all 1s ease;
    background: #ed3232;
}
#home .hidden-last-input .last-group #submitBtn{
    height: 26px;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: #ffffff;
}
#home .home-customer-cgv{
    opacity: 1;
    transition: all 1s ease;
}
#home .first-group .sbmtbtn1{
    transition: all 1s ease;
    opacity:0;
}
#home .hidden-last-input .first-group .sbmtbtn1{
    opacity:1;
}
#home .hidden-last-input .home-customer-cgv{
    opacity: 0;
}
#login .form-group.error-validate label.error{
    color: #dc3545!important;
    font-size: 13px;
    margin-bottom: -26px;
    display: block;
}
@media (max-width:480px){ 
    h1 {
        font-size: 24px;
        line-height: 40px;
    }
    h3 {
    font-size: 20px;
    }
    h4 {
    font-size: 16px;
    }
    h3.sm {
    font-size: 20px;
    }
    .simple-list li::before{
        top: 12px;
    }
}
